
  .Grid {
    display: grid;
    grid-template-rows: 39px 85px auto 235px;
    min-height: 100vh;
  }
  
  .topBar {
    background-color: rgb(34, 34, 34);
    color: rgb(255, 255, 255);
    padding-left: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    font-size: .625rem;
  }
  
  .navigationDesktop {
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(232, 232, 232);
    padding-left: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  

  
  .mainArea {
    display: grid;
    grid-template-columns: 330px auto;
  }
  
  .workArea {
   /* background-image: url(/bg-cliff.jpg);*/
   background-color: rgb(235, 235, 235);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
  }
  
  .workAreaContent {
    max-width: 1100px;
    padding-left: 60px;
    padding-top:30px;
    padding-bottom: 60px;
  }

  .CardArea {
    display: flex;
    align-content: stretch;
    max-width: 1010px;
  }

  .phoneText {
    flex-grow: 1;
  }
  
  .UserEmail {
    padding-right: 50px;
  }
  
  .myTALtext {
    flex-grow: 1;
  }
  
  .helpBtn {
    margin-right: 50px;
  }
  
  .link {
    font-size: .875rem;
    font-weight: 500;
    color: #222;
    text-decoration: none;
    border-bottom: 2px solid #80C342;
    text-transform: uppercase;
  }
  
  .link:hover {
    border-bottom: 2px solid #80C342;
    background-color: #80C342;
  }
  
  .LHSNav {
    padding-left: 60px;
    padding-top: 30px;
    background-color: #232d32;
    color: white;
    font-size: .9375rem;
    line-height: 1.33;
  }