$Primary-LightGreen: #80C342;
$Primary-SlateGrey: #303E46;
$Primary-YellowBeige: #EFEFD2;
$Secondary-Teal: #2FB3B6;
$Secondary-LightAqua:#AAD8C8;
$Secondary-Orange: #F7931E;
$Secondary-Vermilion:#F15A24;

